.container {
  padding: 1rem;
  background-color: var(--background-color);
  color: var(--text-color);
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.header {
  font-size: 2.4rem;
}

.item {
  cursor: pointer;
}
