* {
  --background-color: black;
  --text-color: white;
  --button-color: lightblue;
  --border-color: black;
}

.lightMode * {
  --background-color: white;
  --text-color: black;
  --button-color: darkblue;
  --border-color: white;
}
