:root {
  font-size: 62.5%;
  --error-color: #ee6352;
  --gray: #333;
  --lightGray: #ddd;
  --white: #ffffff;
  --blue: #2c6975;
  --green: #68b2a0;
  --sage: #cde0c9;
  --lightSage: #e0ecde;
  --black: black;
  --mint-green: #b7d3b5;
  --lightBlue: #bcddd4;
  --form-border: 0.1rem solid var(--border-color);
}

* {
  color: var(--gray);
  --background-color: var(--gray);
  --background-color-nav: var(--blue);
  --text-color: var(--mint-green);
  --button-color: var(--green);
  --border-color: var(--green);
}

.lightMode * {
  --background-color: var(--white);
  --text-color: var(--blue);
}
