.container {
  position: relative;
  width: 100%;
  height: fit-content;
  margin: 15px;
  font-weight: bold;
}

.input {
  width: 100%;
  border: 3px solid gray;
  border-radius: 5px;
  padding: 10px;
  height: 50px;
  font-weight: inherit;
  letter-spacing: 1px;
}

.input:focus {
  border: 3px solid red;
}

._placeholder {
  position: absolute;
  top: 15px;
  left: 10px;
  color: gray;
  letter-spacing: 1px;
  pointer-events: none;
  transition: 0.2s ease;
}

.input:focus + ._placeholder {
  color: red;
  font-size: 14px;
  left: 0;
  transform: translateY(-210%);
}

._placeholder.focus {
  left: 0;
  color: red;
  font-size: 14px;
  transform: translateY(-210%);
}

.input.focus {
  border-color: red;
}
